[defaults]
inventory = inventory/hosts.yml
roles_path = ./roles
host_key_checking = False
timeout = 30
retries = 3
ansible_python_interpreter = auto_silent
stdout_callback = yaml
display_skipped_hosts = False
fact_caching = memory
fact_caching_timeout = 3600
nocows = 1
gathering = smart

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes
