[Unit]
Description={{ service_description | default(service_name) }}
After=network.target
{% if service_after is defined %}
After={{ service_after }}
{% endif %}

[Service]
Type=simple
User={{ service_user }}
WorkingDirectory={{ service_working_dir }}
ExecStart={{ service_exec_start }}
Restart=on-failure
RestartSec={{ service_restart_sec }}
{% if service_environment is defined %}
Environment={{ service_environment }}
{% endif %}

[Install]
WantedBy=multi-user.target
